html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: limegreen;
  -webkit-text-fill-color: #ff4000;
  -webkit-text-stroke-color: #2a0e04;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 4px #7c340e;
}

a {
  text-align: center;
  color: #7dd756;
  background-color: #422d7b;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


p {
  color: red;
  font-size: 24px;
}